.expansion-panel {
  overflow: hidden;
  border: 1px solid $secondary--dark;

  color: $secondary;

  background-color: $primary--text;
  border-radius: 5px;

  &__parent {
    background: transparent;
  }

  & .expansion-panel {
    border: 0;
    border-radius: 0;

    &__toggle-btn {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      margin-bottom: -1px;
    }
  }

  &__toggle-btn {
    width: 100%;
    padding: 1%;
    margin-bottom: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $secondary--dark;
    outline: none;

    font-size: 2vw;
    text-align: left;
    color: $primary--text;

    background-color: $secondary;

    transition: 0.3s opacity linear;

    @include media("<tablet") {
      font-size: 5vw;
    }

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &::after {
      content: "";

      display: inline-block;
      width: 5vw;
      height: 5vh;
      outline: 0;

      background: url($assets+"/arrow.svg") no-repeat center center;
      background-size: contain;

      transform: rotate(0);

      transition: 0.3s transform linear;
    }

    &.show-content::after {
      transform: rotate(180deg);
    }
  }

  &__toggle-content {
    margin: 0;
    overflow: hidden;
    height: 0px;
    opacity: 0;

    font-size: 2vw;
    line-height: 1.1;

    transition: opacity 0.3s linear;

    @include media("<tablet") {
      font-size: 4vw;
    }

    &.open {
      height: auto;
      opacity: 1;
    }

    p {
      margin: 0;
    }

    a {
      width: fit-content;
      border-bottom: 10px dashed transparent;

      font-style: italic;
      color: $primary--dark;
      text-transform: uppercase;
      text-decoration: none;

      transition: 0.3s linear border;

      &:hover,
      &:focus {
        border-bottom-color: $primary--dark;
      }
    }
  }
}

section.expansion-panel__toggle-content {
  &.open {
    padding: 1%;
  }
}
