.main-info {
  position: relative;
  padding: 20px;
  display: grid;
  grid-row-gap: 40px;
  // justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-rows: 30vh repeat(3, minmax(min-content, max-content));

  @include media(">tablet") {
  }

  &__img {
    // max-width: 20vw;
    // grid-area: img;
    height: 100%;
  }

  &__title {
    // grid-area: title;
    margin: 0;
    padding-bottom: calc(1vh - 20px);

    font-size: 5vw;
    line-height: normal;
    color: $secondary;

    @include media("<tablet") {
      font-size: 10vw;
    }

    //TODO
    @supports not (font-size: 5vw) {
    }
  }

  &__github {
  }

  &__social-list {
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: repeat(3, fit-content(100px));
  }

  &__social-list,
  &__title,
  &__github {
    align-self: center;
  }
}
