html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.body {
  margin: 0;

  &--primary {
    background-color: $primary;
  }
  &--text-color {
    color: $primary--text;
  }
}

.wrapper {
  max-width: 100%;
  padding: 0 20px;
}

.reset-list-style {
  margin: 0;
  padding: 0;

  list-style: none;
}

.btn-reset-default {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;

  &:hover {
    cursor: pointer;
  }
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
